.header{
    margin: 0px auto;
    min-width: 750px;
    max-width: 1000px;
    height: 237px;
    background-color: rgba(45, 112, 83, 1);
}

.logo{
    background-color: white;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 46px;
    margin-left: 37px;
    vertical-align: top;
}

.h{
    font-family: MyriadProRegular;
    src: url("/font/MYRIADPRO-REGULAR.OTF");
    font-weight: normal;
    font-size: 30px;
    color: white;
    display: inline-block;
    margin-top: 50px;
    margin-left: 57px;
    vertical-align: top;    
}

.burger > div{
    border-bottom: 15px solid white;
    width: 87px;
    border-radius: 15px;
    margin-top: 13px;

}

.burger{
    display: inline-block;
    margin-top: 83px;
    margin-left: 430px;
    vertical-align: top;
}

.content{
    margin: 0px auto;
    min-width: 750px;
    max-width: 1000px;
}

.png{
    background-image: url(/png/office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.btn{
    background-color: rgba(203, 146, 35, 1);
    width: 344px;
    height: 77px; 
    margin:368px 330px;
    display: inline-block;
}

.link{
    font-family: MyriadProRegular;
    font-weight: normal;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 26px 41px;
    display: inline-block;
}

.psyx{
    margin: 0px auto;
    width: 100%;
}

.psyx__photo{
    width: 247px;
    border-radius: 50%;
    height: 247px;
    display: inline-block;
    margin: 84px 0px 0px 44px;
}

.psyx__info > h1{
    font-family: MyriadProRegular;
    font-weight: normal;
    color: black;
    margin: 20px;
    display: inline-block;
}

.psyx__info{
    display: inline-block;
    vertical-align: top;
    margin: 120px 0px 0px 150px;
}

.psyx__name{
    font-size: 36px; 
}

.psyx__prof{
    font-size: 24px;
}

.psyx__work{
    font-family: MyriadProRegular;
    font-weight: normal;
    color: black;
    font-size: 24px;
    max-width: 1000px;
    min-width: 750px;
    margin: 60px 0px 0px 44px;
    text-align: left;
}

.reason{
    margin: 0px auto;
    width: 100%;
}

.reason__h{
    font-family: MyriadProRegular;
    font-weight: normal;
    color: black;
    font-size: 36px;
    margin: 48px 0px 0px 44px;
    display: inline-block;
}

ul{
    margin-top: 48px;
}
ul > li{
    font-family: MyriadProRegular;
    font-weight: normal;
    color: black;
    font-size: 24px;
    list-style-type: none;
    padding-bottom: 8px;
}

li::before{
    content: "-";
    margin-right: 5px;
}

.btn__down{
    background-color: rgba(203, 146, 35, 1);
    width: 344px;
    height: 77px; 
    margin:42px 0px 47px 330px;
    display: inline-block;
}

.footer{
    margin: 0px auto;
    min-width: 750px;
    max-width: 1000px;
    height: 156px;
    background-color: rgba(136, 136, 136, 1);
}

.footer__logo{
    background-color: white;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 29px;
    margin-left: 44px;
    vertical-align: top;
}

div > a{
    text-decoration: none;
    font-family: MyriadProRegular;
    font-weight: normal;
    color: white;
    font-size: 18px;
    margin-bottom: 27px;
    display: inline-block;
}

.footer__contacts{
    display: inline-block;
    margin: 50px 45px 0px 150px;
    text-align: right;
    vertical-align: top;
}

.footer__address{
    font-family: MyriadProRegular;
    font-weight: normal;
    color: white;
    font-size: 18px;
    vertical-align: top;
    display: inline-block;
    margin-left: 250px;
    margin-top: 100px;
}

    